html > body {
  height: 100%;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.EnTete > h3 {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.Exo4 > h3 {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.TeteLink > h3 {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
